<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Select a Random Person</title>
    <link rel="stylesheet" href="/css/random.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
